
body {
	font-family: 'Open Sans', sans-serif;
}

/* Our Websites Wrapper*/

#wrapper {
	max-width: 940px;
	margin: 0 auto 0 auto;
	padding: 0 5% 0 5%;
}

/* Our Websites logo*/

#logo {
	margin: 0;
	text-align: center;
	font-family: 'Dancing Script', cursive; /* Fonts For Our Logo*/
}

#logo a {
	color: #222222; /* darker grey*/
}

#logo h1 {
	font-size: 2em; /* 1em = 16px */
}

#logo h2 {
	font-size: 1.25em;
	font-weight: normal;
}


/* Link Colors and properties*/

a {
	color: #fb3c3c; /* red*/
}

a:visited {
	color: #fb3c3c; /*red*/
}

header a{
	text-decoration: none;
}

/* Navigation*/

nav {
	text-align: center;
}

.NavigationLinks {
	font-size: 18px;
	
}

nav a:hover {
	color: #af2a2a; /*darker red*/
	font-weight: bold;
}

nav ul li {
	margin: 0 50px 0 0;
	display: inline-block;
	font-weight: bold;
}

/* Footer*/

footer p {
	font-style: italic;
}

footer {
	margin-top: 50px;
	font-size: 1.25em;
	color: #222222;
	text-align: center;
	clear: both;
}

footer a {
	text-decoration: none;
}

.socialicons {
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

/* Portfolio*/

img {
	max-width: 100%;
}

#portfolio {
	list-style: none;
}

#portfolio li {
	width: 95%;
	margin: 10px 2.5% 0 2.5%;
}

/* Styles For Our About Page*/

.profilepic {
	max-width: 300px;
	margin: 15px auto 15px auto;
	display: block;
}

h3 {
	margin-bottom: 20px;
	text-align: center;
}

/* Styles For Our Blog Page*/

.blogprofilepic {
	max-width: 300px;
	display: block;
	border-radius: 100%;
	margin: 0 auto 0 auto;
	
}


.sidebar li{
	list-style: none;
	text-align: center;
	margin: 0 2%;
}

.sidebar {
	text-align: center;
}

.sidebar  h3{
	text-align: center;
}

.blogsidebar li, ul{
		list-style: none;
		text-align: center;
		padding: 0;
	}

/* Media Queries For Pages*/

@media screen and (min-width: 600px) {
	#portfolio li {
		float: left;
		width: 45%;
		margin: 2.5%;
	}
	
	.sidebar {
	float: right;
	}

	h3 {
	margin-bottom: 20px;
	}

	.profilepic {
	max-width: 300px;
	margin: 15px;
	display: block;
}

	
	
}

@media screen and (min-width: 900px) {
	#portfolio li {
		float: left;
		width: 28%;
		margin: 2.5%;
	}
	
	.blogsidebar {
		float: right;
		width: 30%;
	}
	
	.blogcontent {
		width: 60%;
	}
	
	h3 {
		text-align: left;
	}
	
	.blogprofilepic {
	max-width: 300px;
	display: block;
	border-radius: 100%;
	margin: 15px auto 0 auto;
	
	}
	
	.blogsidebar h3{
		text-align: center;
	}
	
	.blogsidebar li{
		list-style: none;
		text-align: center;
		padding: 0;
	}

}